			<div class="article__nav article-nav">

				<h4 class="article-nav__title">
					Другие статьи
				</h4><!-- /.article-nav__title -->

				<ul class="article-nav__list">

					@@if (current !== 3){
					
					<li class="article-nav__item">
						
						<a href="sportik-article-3.html" class="article-nav__href link">
							Почему важно употреблять именно воду?
						</a>
						
					</li> <!-- /.article-nav__item -->

					}

					@@if (current !== 4){
					
					
					<li class="article-nav__item">
						
						<a href="sportik-article-4.html" class="article-nav__href link">
							Как отучить ребёнка от газировки?
						</a>
						
					</li> <!-- /.article-nav__item -->

					}

					@@if (current !== 5){
					
					<li class="article-nav__item">
						
						<a href="sportik-article-5.html" class="article-nav__href link">
							Как приучить ребёнка пить воду?
						</a>
						
					</li> <!-- /.article-nav__item -->

					}
				
				</ul> <!-- /.article-nav__list -->
				
			</div><!-- /.article__nav -->
