
<div class="article__expert expert">

	<div class="expert__image-placeholder">

		<img src="assets/images/expert/1.jpg" alt="" class="expert__image">

	</div><!-- /.expert__inage-placeholder -->

	<div class="expert__content">

		<div class="expert__title">
			Рассказывает и отвечает эксперт Волкова Людмила Юрьевна
		</div><!-- /.expert__title -->

		<div class="expert__text text">
			<p>
				Кандидат медицинских наук, врач-диетолог, врач по гигиене питания, ассистент<br>
				кафедры диетологии и нутрициологии ГБОУ ДПО РМАПО.
			</p>
		</div><!-- /.expert__text text -->

		<div class="expert__buttons">

			<div class="expert__button-placeholder">

				<a href="#expert-modal" class="expert__button button button--blue button--m js-modal-open"
				
				@@if (article === 3){
				data-adriver="button_18"
				}
				@@if (article === 4){
				data-adriver="button_21"
				}
				@@if (article === 5){
				data-adriver="button_24"
				}

				>Об эксперте</a>

			</div><!-- /.expert__button-placeholder -->

			@@if (server !== "mosreg"){ 

			<div class="expert__button-placeholder">

				<a href="#comments-section" class="expert__button button button--blue button--m js-goto"
				
				@@if (article === 3){
				data-adriver="button_19"
				}
				@@if (article === 4){
				data-adriver="button_22"
				}
				@@if (article === 5){
				data-adriver="button_25"
				}

				>Задать вопрос</a>

			</div><!-- /.expert__button-placeholder -->

			}

		</div><!-- /.expert__buttons -->

	</div><!-- /.expert__content -->

	<div class="container__modal modal" id="expert-modal">
		
		<div class="modal__bg js-modal-close"></div><!-- /.modal__bg -->

		<div class="modal__inner js-modal-close">

			<div class="modal__content modal__content--text">

				<div class="modal__text text">

					<p><span style="font-weight: bold;"><img style="float: left; margin: 0 20px 20px 0;" src="https://b2.csdnevnik.ru/file/fa530f215a0a4447a38cc1164e879f00.m.jpg" alt="" width="250" height="310">Волкова Людмила Юрьевна</span></p>
					<p><span style="font-weight: bold;">Кандидат медицинских наук, врач диетолог, врач по гигиене питания, ассистент кафедры диетологии и нутрициологии ГБОУ ДПО РМАПО.</span></p>
					<p>Окончила с отличием&nbsp;<span style="font-weight: bold;">Московскую медицинскую академию им. И.М. Сеченова</span>. Обучалась в очной аспирантуре Научно-исследовательского Института питания РАМН в отделе детского питания. Защитила диссертацию на соискание учёной степени кандидата медицинских наук. Прошла курс повышения квалификации по психотерапии пищевого поведения.&nbsp;</p>
					<p><span style="font-weight: bold;">8 лет проработала в Научно-исследовательском институте питания РАМН в области изучения питания различных групп населения</span>, в т.ч. детей дошкольного и школьного возраста, людей при занятиях физической культурой и спортом; изучала питание для снижения риска развития алиментарно-зависимых заболевания, при неблагоприятных условиях труда, при коррекции веса.</p>
					<p>В настоящее время <span style="font-weight: bold;">преподает на кафедре диетологии и нутрициологии Российской медицинской академии</span> последипломного образования.</p>
					<p>Неоднократно <span style="font-weight: bold;">принимала участие в качестве спикера на Конгрессах «Питание и здоровье», «Человек и лекарство»</span>, а также участвует в работе профильных научно-практических конференций и конгрессов, в том числе «Профессия и здоровье», «СпортМед» и др.</p>
					<p><span style="font-weight: bold;">Автор 150 печатных работ в специализированных и научно-популярных изданиях</span>, в том&nbsp;числе «Вопросы питания», «Вопросы диетологии», «Вопросы детской диетологии», «Гигиена и санитария», «Вопросы педиатрии», «Пищевая промышленность», «Медицинское обслуживание и организация питания в ДОУ», «Новая аптека», «Похудей», «Счастливые родители» и др.</p>
					<p><span style="font-weight: bold;">Авторские книги и научные работы:</span></p>
					<ul>
						<li>Выполнила Диссертацию на соискание ученой степени кандидата медицинских наук «Гигиеническое обоснование оптимизации питания школьников г. Москвы», 2005г.</li>
						<li>Соавтор пособия для врачей «Организация рационального питания детей 6-10 лет в школьных образовательных учреждениях», Спб., 2005г.</li>
						<li>Соавтор пособия для врачей&nbsp; «Питание здорового и больного ребёнка». Под ред. В.А. Тутельяна, Москва, 2007г.</li>
						<li>Соавтор разработки «Рекомендуемые среднесуточные наборы продуктов для питания детей 7-11 и 11-18 лет». МР № 0100/8604-07-34, Москва, 2007 г.</li>
					</ul>
					<p>Принимала участие в качестве приглашённого эксперта в программе «Врачи» на телеканале ТНТ.</p>
					<p><span style="font-style: italic;"><span style="font-weight: bold;">Принципы питания детей школьного возраста:</span></span></p>
					<ol>
						<li>Питание должно быть качественным и безопасным.</li>
						<li>Предпочтение следует отдавать свежеприготовленным блюдам.</li>
						<li>В приоритете должны быть сбалансированные по пищевым веществам и энергетическим потребностям блюда.</li>
						<li>Питание детей нужно сделать максимально разнообразным.</li>
						<li>Выполнять «образовательную» функцию, поскольку здоровое питание – основа здоровья.</li>
					</ol>
					<p><span style="font-style: italic;">Любимая цитата</span>: Свою болезнь ищи на дне тарелки (китайская поговорка).</p>
					<p><span style="font-style: italic;">Хобби</span>: собирать рецепты блюд здорового питания разных кухонь мира.</p>


				</div><!-- /.modal__text -->

				<button class="modal__close button js-modal-close">
					x
				</button>

			</div><!-- /.modal__content -->

		</div><!-- /.modal__inner -->

	</div><!-- /.container__modal -->

</div><!-- /.article__expert -->

