<div class="menu" id="menu">

	<nav class="container__section section menu__section">
		
		<div class="section__wrap menu__wrap">
			
			<ul class="menu__list">
				
				<li class="menu__item">
					<a href="https://dnevnik.ru" class="menu__href menu__href--dnevnik"></a>
				</li>
				

				@@if (role === "parents"){ 

				<li class="menu__item">
					<a href="sportik-parents.html#check" class="menu__href inverselink js-goto"
						data-adriver="button_60"
					>Родителям на заметку</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik-parents.html#how-many" class="menu__href
					@@if (page === 'sportik-calculator') { menu__href--active }
					inverselink js-goto"
						data-adriver="button_63"
					>Питьевой режим</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik-parents.html#reasons" class="menu__href 
					@@if (page === 'sportik-reasons') { menu__href--active }
					inverselink js-goto"
						data-adriver="button_64"
					>10 причин пить больше воды</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik-parents.html#videos" class="menu__href inverselink js-goto"
						data-adriver="button_51"
					>Интересное видео</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik-parents.html#about" class="menu__href inverselink js-goto"
						data-ga="11"
					 >О продукте</a>
				</li>

				}

				@@if (role === "kids"){ 
				
				<li class="menu__item">
					<a href="sportik.html#videos" class="menu__href inverselink js-goto"
						data-adriver="button_51"
					>Интересное видео</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik-quiz.html" class="menu__href 
					@@if (page === 'sportik-quiz') { menu__href--active }
					inverselink"
						data-adriver="button_52"
					>Пройди тест</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik.html#interesting" class="menu__href 
					@@if (page === 'sportik-interesting') { menu__href--active }
					inverselink js-goto">Это интересно</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik.html#water-helps" class="menu__href 
					@@if (page === 'sportik-water-helps') { menu__href--active }
					inverselink js-goto"
						data-adriver="button_53"
					>как вода помогает нам</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik.html#yours" class="menu__href inverselink js-goto"
						data-adriver="button_54"
						data-ga="13"
					>Твой "Спортик"</a>
				</li>
				
				<li class="menu__item menu__item--pers">
					<div class="menu-pers js-menu-pers"
						data-adriver="button_17"
						data-ga="12"
					>
						Твой друг
					</div><!-- /.menu-pers -->
				</li>

				}
			
			</ul> <!-- /.menu__list -->
				
		</div> <!-- /.menu__wrap -->

	</nav> <!-- /.menu -->

</div><!-- /.menu -->
