<div class="menu" id="menu">

	<nav class="container__section section menu__section">
		
		<div class="section__wrap menu__wrap">
			
			<ul class="menu__list">
				
				<li class="menu__item">
					<a href="https://dnevnik.ru" class="menu__href menu__href--dnevnik"></a>
				</li>
				

				@@if (role === "parents"){ 

				<li class="menu__item">
					<a href="sportik-parents.html#check" class="menu__href inverselink js-goto">Родителям на заметку</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik-parents.html#how-many" class="menu__href
					@@if (page === 'sportik-calculator') { menu__href--active }
					inverselink js-goto">Питьевой режим</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik-parents.html#reasons" class="menu__href 
					@@if (page === 'sportik-reasons') { menu__href--active }
					inverselink js-goto">10 причин пить больше воды</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik-parents.html#videos" class="menu__href inverselink js-goto">О Пользе воды</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik-parents.html#about" class="menu__href inverselink js-goto">О продукте</a>
				</li>

				}

				@@if (role === "kids"){ 
				
				<li class="menu__item">
					<a href="sportik-quiz.html" class="menu__href 
					@@if (page === 'sportik-quiz') { menu__href--active }
					inverselink">Пройди тест</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik.html#ineresting" class="menu__href 
					@@if (page === 'sportik-interesting') { menu__href--active }
					inverselink js-goto">Это интересно</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik.html#water-helps" class="menu__href 
					@@if (page === 'sportik-water-helps') { menu__href--active }
					inverselink js-goto">как вода помогает нам</a>
				</li>
				
				<li class="menu__item">
					<a href="sportik.html#yours" class="menu__href inverselink js-goto">Твой "Спортик"</a>
				</li>
				
				<li class="menu__item menu__item--pers">
					<div class="menu-pers js-menu-pers"
						 data-adriver="button_17"
					>
						Твой друг
					</div><!-- /.menu-pers -->
				</li>

				}
			
			</ul> <!-- /.menu__list -->
				
		</div> <!-- /.menu__wrap -->

	</nav> <!-- /.menu -->

</div><!-- /.menu -->
