/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$about-icon-name: 'about-icon';
$about-icon-x: 0px;
$about-icon-y: 721px;
$about-icon-offset-x: 0px;
$about-icon-offset-y: -721px;
$about-icon-width: 89px;
$about-icon-height: 90px;
$about-icon-total-width: 998px;
$about-icon-total-height: 961px;
$about-icon-image: '../images/sprite.png';
$about-icon: (0px, 721px, 0px, -721px, 89px, 90px, 998px, 961px, '../images/sprite.png', 'about-icon', );
$boy1-name: 'boy1';
$boy1-x: 268px;
$boy1-y: 831px;
$boy1-offset-x: -268px;
$boy1-offset-y: -831px;
$boy1-width: 39px;
$boy1-height: 39px;
$boy1-total-width: 998px;
$boy1-total-height: 961px;
$boy1-image: '../images/sprite.png';
$boy1: (268px, 831px, -268px, -831px, 39px, 39px, 998px, 961px, '../images/sprite.png', 'boy1', );
$boy2-name: 'boy2';
$boy2-x: 815px;
$boy2-y: 344px;
$boy2-offset-x: -815px;
$boy2-offset-y: -344px;
$boy2-width: 39px;
$boy2-height: 39px;
$boy2-total-width: 998px;
$boy2-total-height: 961px;
$boy2-image: '../images/sprite.png';
$boy2: (815px, 344px, -815px, -344px, 39px, 39px, 998px, 961px, '../images/sprite.png', 'boy2', );
$button-green-name: 'button-green';
$button-green-x: 290px;
$button-green-y: 471px;
$button-green-offset-x: -290px;
$button-green-offset-y: -471px;
$button-green-width: 362px;
$button-green-height: 62px;
$button-green-total-width: 998px;
$button-green-total-height: 961px;
$button-green-image: '../images/sprite.png';
$button-green: (290px, 471px, -290px, -471px, 362px, 62px, 998px, 961px, '../images/sprite.png', 'button-green', );
$calc-bottle-name: 'calc-bottle';
$calc-bottle-x: 976px;
$calc-bottle-y: 0px;
$calc-bottle-offset-x: -976px;
$calc-bottle-offset-y: 0px;
$calc-bottle-width: 22px;
$calc-bottle-height: 62px;
$calc-bottle-total-width: 998px;
$calc-bottle-total-height: 961px;
$calc-bottle-image: '../images/sprite.png';
$calc-bottle: (976px, 0px, -976px, 0px, 22px, 62px, 998px, 961px, '../images/sprite.png', 'calc-bottle', );
$calc-checkbox-name: 'calc-checkbox';
$calc-checkbox-x: 803px;
$calc-checkbox-y: 581px;
$calc-checkbox-offset-x: -803px;
$calc-checkbox-offset-y: -581px;
$calc-checkbox-width: 28px;
$calc-checkbox-height: 28px;
$calc-checkbox-total-width: 998px;
$calc-checkbox-total-height: 961px;
$calc-checkbox-image: '../images/sprite.png';
$calc-checkbox: (803px, 581px, -803px, -581px, 28px, 28px, 998px, 961px, '../images/sprite.png', 'calc-checkbox', );
$calc-glass-name: 'calc-glass';
$calc-glass-x: 0px;
$calc-glass-y: 921px;
$calc-glass-offset-x: 0px;
$calc-glass-offset-y: -921px;
$calc-glass-width: 25px;
$calc-glass-height: 40px;
$calc-glass-total-width: 998px;
$calc-glass-total-height: 961px;
$calc-glass-image: '../images/sprite.png';
$calc-glass: (0px, 921px, 0px, -921px, 25px, 40px, 998px, 961px, '../images/sprite.png', 'calc-glass', );
$calc-time-name: 'calc-time';
$calc-time-x: 407px;
$calc-time-y: 653px;
$calc-time-offset-x: -407px;
$calc-time-offset-y: -653px;
$calc-time-width: 36px;
$calc-time-height: 36px;
$calc-time-total-width: 998px;
$calc-time-total-height: 961px;
$calc-time-image: '../images/sprite.png';
$calc-time: (407px, 653px, -407px, -653px, 36px, 36px, 998px, 961px, '../images/sprite.png', 'calc-time', );
$calc-total-name: 'calc-total';
$calc-total-x: 0px;
$calc-total-y: 471px;
$calc-total-offset-x: 0px;
$calc-total-offset-y: -471px;
$calc-total-width: 270px;
$calc-total-height: 90px;
$calc-total-total-width: 998px;
$calc-total-total-height: 961px;
$calc-total-image: '../images/sprite.png';
$calc-total: (0px, 471px, 0px, -471px, 270px, 90px, 998px, 961px, '../images/sprite.png', 'calc-total', );
$close-important-name: 'close-important';
$close-important-x: 976px;
$close-important-y: 82px;
$close-important-offset-x: -976px;
$close-important-offset-y: -82px;
$close-important-width: 20px;
$close-important-height: 21px;
$close-important-total-width: 998px;
$close-important-total-height: 961px;
$close-important-image: '../images/sprite.png';
$close-important: (976px, 82px, -976px, -82px, 20px, 21px, 998px, 961px, '../images/sprite.png', 'close-important', );
$close-pers-name: 'close-pers';
$close-pers-x: 463px;
$close-pers-y: 653px;
$close-pers-offset-x: -463px;
$close-pers-offset-y: -653px;
$close-pers-width: 28px;
$close-pers-height: 28px;
$close-pers-total-width: 998px;
$close-pers-total-height: 961px;
$close-pers-image: '../images/sprite.png';
$close-pers: (463px, 653px, -463px, -653px, 28px, 28px, 998px, 961px, '../images/sprite.png', 'close-pers', );
$close-name: 'close';
$close-x: 976px;
$close-y: 123px;
$close-offset-x: -976px;
$close-offset-y: -123px;
$close-width: 20px;
$close-height: 21px;
$close-total-width: 998px;
$close-total-height: 961px;
$close-image: '../images/sprite.png';
$close: (976px, 123px, -976px, -123px, 20px, 21px, 998px, 961px, '../images/sprite.png', 'close', );
$girl1-name: 'girl1';
$girl1-x: 815px;
$girl1-y: 484px;
$girl1-offset-x: -815px;
$girl1-offset-y: -484px;
$girl1-width: 39px;
$girl1-height: 39px;
$girl1-total-width: 998px;
$girl1-total-height: 961px;
$girl1-image: '../images/sprite.png';
$girl1: (815px, 484px, -815px, -484px, 39px, 39px, 998px, 961px, '../images/sprite.png', 'girl1', );
$girl2-name: 'girl2';
$girl2-x: 815px;
$girl2-y: 285px;
$girl2-offset-x: -815px;
$girl2-offset-y: -285px;
$girl2-width: 39px;
$girl2-height: 39px;
$girl2-total-width: 998px;
$girl2-total-height: 961px;
$girl2-image: '../images/sprite.png';
$girl2: (815px, 285px, -815px, -285px, 39px, 39px, 998px, 961px, '../images/sprite.png', 'girl2', );
$hand-liked-name: 'hand--liked';
$hand-liked-x: 976px;
$hand-liked-y: 164px;
$hand-liked-offset-x: -976px;
$hand-liked-offset-y: -164px;
$hand-liked-width: 19px;
$hand-liked-height: 21px;
$hand-liked-total-width: 998px;
$hand-liked-total-height: 961px;
$hand-liked-image: '../images/sprite.png';
$hand-liked: (976px, 164px, -976px, -164px, 19px, 21px, 998px, 961px, '../images/sprite.png', 'hand--liked', );
$hand-name: 'hand';
$hand-x: 976px;
$hand-y: 205px;
$hand-offset-x: -976px;
$hand-offset-y: -205px;
$hand-width: 19px;
$hand-height: 21px;
$hand-total-width: 998px;
$hand-total-height: 961px;
$hand-image: '../images/sprite.png';
$hand: (976px, 205px, -976px, -205px, 19px, 21px, 998px, 961px, '../images/sprite.png', 'hand', );
$important-1-name: 'important-1';
$important-1-x: 0px;
$important-1-y: 581px;
$important-1-offset-x: 0px;
$important-1-offset-y: -581px;
$important-1-width: 120px;
$important-1-height: 120px;
$important-1-total-width: 998px;
$important-1-total-height: 961px;
$important-1-image: '../images/sprite.png';
$important-1: (0px, 581px, 0px, -581px, 120px, 120px, 998px, 961px, '../images/sprite.png', 'important-1', );
$important-2-name: 'important-2';
$important-2-x: 140px;
$important-2-y: 581px;
$important-2-offset-x: -140px;
$important-2-offset-y: -581px;
$important-2-width: 120px;
$important-2-height: 120px;
$important-2-total-width: 998px;
$important-2-total-height: 961px;
$important-2-image: '../images/sprite.png';
$important-2: (140px, 581px, -140px, -581px, 120px, 120px, 998px, 961px, '../images/sprite.png', 'important-2', );
$important-3-name: 'important-3';
$important-3-x: 675px;
$important-3-y: 285px;
$important-3-offset-x: -675px;
$important-3-offset-y: -285px;
$important-3-width: 120px;
$important-3-height: 120px;
$important-3-total-width: 998px;
$important-3-total-height: 961px;
$important-3-image: '../images/sprite.png';
$important-3: (675px, 285px, -675px, -285px, 120px, 120px, 998px, 961px, '../images/sprite.png', 'important-3', );
$important-4-name: 'important-4';
$important-4-x: 675px;
$important-4-y: 425px;
$important-4-offset-x: -675px;
$important-4-offset-y: -425px;
$important-4-width: 120px;
$important-4-height: 120px;
$important-4-total-width: 998px;
$important-4-total-height: 961px;
$important-4-image: '../images/sprite.png';
$important-4: (675px, 425px, -675px, -425px, 120px, 120px, 998px, 961px, '../images/sprite.png', 'important-4', );
$important-5-name: 'important-5';
$important-5-x: 675px;
$important-5-y: 145px;
$important-5-offset-x: -675px;
$important-5-offset-y: -145px;
$important-5-width: 120px;
$important-5-height: 120px;
$important-5-total-width: 998px;
$important-5-total-height: 961px;
$important-5-image: '../images/sprite.png';
$important-5: (675px, 145px, -675px, -145px, 120px, 120px, 998px, 961px, '../images/sprite.png', 'important-5', );
$important-bubble-left-name: 'important-bubble-left';
$important-bubble-left-x: 689px;
$important-bubble-left-y: 581px;
$important-bubble-left-offset-x: -689px;
$important-bubble-left-offset-y: -581px;
$important-bubble-left-width: 94px;
$important-bubble-left-height: 32px;
$important-bubble-left-total-width: 998px;
$important-bubble-left-total-height: 961px;
$important-bubble-left-image: '../images/sprite.png';
$important-bubble-left: (689px, 581px, -689px, -581px, 94px, 32px, 998px, 961px, '../images/sprite.png', 'important-bubble-left', );
$important-bubble-right-name: 'important-bubble-right';
$important-bubble-right-x: 575px;
$important-bubble-right-y: 581px;
$important-bubble-right-offset-x: -575px;
$important-bubble-right-offset-y: -581px;
$important-bubble-right-width: 94px;
$important-bubble-right-height: 32px;
$important-bubble-right-total-width: 998px;
$important-bubble-right-total-height: 961px;
$important-bubble-right-image: '../images/sprite.png';
$important-bubble-right: (575px, 581px, -575px, -581px, 94px, 32px, 998px, 961px, '../images/sprite.png', 'important-bubble-right', );
$logo-hand-name: 'logo-hand';
$logo-hand-x: 45px;
$logo-hand-y: 921px;
$logo-hand-offset-x: -45px;
$logo-hand-offset-y: -921px;
$logo-hand-width: 26px;
$logo-hand-height: 30px;
$logo-hand-total-width: 998px;
$logo-hand-total-height: 961px;
$logo-hand-image: '../images/sprite.png';
$logo-hand: (45px, 921px, -45px, -921px, 26px, 30px, 998px, 961px, '../images/sprite.png', 'logo-hand', );
$logotype-name: 'logotype';
$logotype-x: 407px;
$logotype-y: 581px;
$logotype-offset-x: -407px;
$logotype-offset-y: -581px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 998px;
$logotype-total-height: 961px;
$logotype-image: '../images/sprite.png';
$logotype: (407px, 581px, -407px, -581px, 148px, 52px, 998px, 961px, '../images/sprite.png', 'logotype', );
$menu-pers-none-name: 'menu-pers-none';
$menu-pers-none-x: 815px;
$menu-pers-none-y: 425px;
$menu-pers-none-offset-x: -815px;
$menu-pers-none-offset-y: -425px;
$menu-pers-none-width: 39px;
$menu-pers-none-height: 39px;
$menu-pers-none-total-width: 998px;
$menu-pers-none-total-height: 961px;
$menu-pers-none-image: '../images/sprite.png';
$menu-pers-none: (815px, 425px, -815px, -425px, 39px, 39px, 998px, 961px, '../images/sprite.png', 'menu-pers-none', );
$play-1-name: 'play-1';
$play-1-x: 280px;
$play-1-y: 581px;
$play-1-offset-x: -280px;
$play-1-offset-y: -581px;
$play-1-width: 107px;
$play-1-height: 109px;
$play-1-total-width: 998px;
$play-1-total-height: 961px;
$play-1-image: '../images/sprite.png';
$play-1: (280px, 581px, -280px, -581px, 107px, 109px, 998px, 961px, '../images/sprite.png', 'play-1', );
$puzzle0-name: 'puzzle0';
$puzzle0-x: 883px;
$puzzle0-y: 0px;
$puzzle0-offset-x: -883px;
$puzzle0-offset-y: 0px;
$puzzle0-width: 73px;
$puzzle0-height: 73px;
$puzzle0-total-width: 998px;
$puzzle0-total-height: 961px;
$puzzle0-image: '../images/sprite.png';
$puzzle0: (883px, 0px, -883px, 0px, 73px, 73px, 998px, 961px, '../images/sprite.png', 'puzzle0', );
$puzzle1-name: 'puzzle1';
$puzzle1-x: 883px;
$puzzle1-y: 279px;
$puzzle1-offset-x: -883px;
$puzzle1-offset-y: -279px;
$puzzle1-width: 73px;
$puzzle1-height: 73px;
$puzzle1-total-width: 998px;
$puzzle1-total-height: 961px;
$puzzle1-image: '../images/sprite.png';
$puzzle1: (883px, 279px, -883px, -279px, 73px, 73px, 998px, 961px, '../images/sprite.png', 'puzzle1', );
$puzzle2-name: 'puzzle2';
$puzzle2-x: 883px;
$puzzle2-y: 186px;
$puzzle2-offset-x: -883px;
$puzzle2-offset-y: -186px;
$puzzle2-width: 73px;
$puzzle2-height: 73px;
$puzzle2-total-width: 998px;
$puzzle2-total-height: 961px;
$puzzle2-image: '../images/sprite.png';
$puzzle2: (883px, 186px, -883px, -186px, 73px, 73px, 998px, 961px, '../images/sprite.png', 'puzzle2', );
$puzzle3-name: 'puzzle3';
$puzzle3-x: 883px;
$puzzle3-y: 93px;
$puzzle3-offset-x: -883px;
$puzzle3-offset-y: -93px;
$puzzle3-width: 73px;
$puzzle3-height: 73px;
$puzzle3-total-width: 998px;
$puzzle3-total-height: 961px;
$puzzle3-image: '../images/sprite.png';
$puzzle3: (883px, 93px, -883px, -93px, 73px, 73px, 998px, 961px, '../images/sprite.png', 'puzzle3', );
$puzzle4-name: 'puzzle4';
$puzzle4-x: 408px;
$puzzle4-y: 721px;
$puzzle4-offset-x: -408px;
$puzzle4-offset-y: -721px;
$puzzle4-width: 73px;
$puzzle4-height: 73px;
$puzzle4-total-width: 998px;
$puzzle4-total-height: 961px;
$puzzle4-image: '../images/sprite.png';
$puzzle4: (408px, 721px, -408px, -721px, 73px, 73px, 998px, 961px, '../images/sprite.png', 'puzzle4', );
$puzzle5-name: 'puzzle5';
$puzzle5-x: 883px;
$puzzle5-y: 465px;
$puzzle5-offset-x: -883px;
$puzzle5-offset-y: -465px;
$puzzle5-width: 73px;
$puzzle5-height: 73px;
$puzzle5-total-width: 998px;
$puzzle5-total-height: 961px;
$puzzle5-image: '../images/sprite.png';
$puzzle5: (883px, 465px, -883px, -465px, 73px, 73px, 998px, 961px, '../images/sprite.png', 'puzzle5', );
$puzzle6-name: 'puzzle6';
$puzzle6-x: 883px;
$puzzle6-y: 372px;
$puzzle6-offset-x: -883px;
$puzzle6-offset-y: -372px;
$puzzle6-width: 73px;
$puzzle6-height: 73px;
$puzzle6-total-width: 998px;
$puzzle6-total-height: 961px;
$puzzle6-image: '../images/sprite.png';
$puzzle6: (883px, 372px, -883px, -372px, 73px, 73px, 998px, 961px, '../images/sprite.png', 'puzzle6', );
$quiz-result-bottle-name: 'quiz-result-bottle';
$quiz-result-bottle-x: 815px;
$quiz-result-bottle-y: 145px;
$quiz-result-bottle-offset-x: -815px;
$quiz-result-bottle-offset-y: -145px;
$quiz-result-bottle-width: 33px;
$quiz-result-bottle-height: 92px;
$quiz-result-bottle-total-width: 998px;
$quiz-result-bottle-total-height: 961px;
$quiz-result-bottle-image: '../images/sprite.png';
$quiz-result-bottle: (815px, 145px, -815px, -145px, 33px, 92px, 998px, 961px, '../images/sprite.png', 'quiz-result-bottle', );
$radio-selected-name: 'radio-selected';
$radio-selected-x: 327px;
$radio-selected-y: 831px;
$radio-selected-offset-x: -327px;
$radio-selected-offset-y: -831px;
$radio-selected-width: 38px;
$radio-selected-height: 38px;
$radio-selected-total-width: 998px;
$radio-selected-total-height: 961px;
$radio-selected-image: '../images/sprite.png';
$radio-selected: (327px, 831px, -327px, -831px, 38px, 38px, 998px, 961px, '../images/sprite.png', 'radio-selected', );
$radio-name: 'radio';
$radio-x: 385px;
$radio-y: 831px;
$radio-offset-x: -385px;
$radio-offset-y: -831px;
$radio-width: 38px;
$radio-height: 38px;
$radio-total-width: 998px;
$radio-total-height: 961px;
$radio-image: '../images/sprite.png';
$radio: (385px, 831px, -385px, -831px, 38px, 38px, 998px, 961px, '../images/sprite.png', 'radio', );
$select-name: 'select';
$select-x: 976px;
$select-y: 246px;
$select-offset-x: -976px;
$select-offset-y: -246px;
$select-width: 14px;
$select-height: 11px;
$select-total-width: 998px;
$select-total-height: 961px;
$select-image: '../images/sprite.png';
$select: (976px, 246px, -976px, -246px, 14px, 11px, 998px, 961px, '../images/sprite.png', 'select', );
$skate-bottle-name: 'skate-bottle';
$skate-bottle-x: 109px;
$skate-bottle-y: 721px;
$skate-bottle-offset-x: -109px;
$skate-bottle-offset-y: -721px;
$skate-bottle-width: 91px;
$skate-bottle-height: 78px;
$skate-bottle-total-width: 998px;
$skate-bottle-total-height: 961px;
$skate-bottle-image: '../images/sprite.png';
$skate-bottle: (109px, 721px, -109px, -721px, 91px, 78px, 998px, 961px, '../images/sprite.png', 'skate-bottle', );
$skate-finger-name: 'skate-finger';
$skate-finger-x: 443px;
$skate-finger-y: 831px;
$skate-finger-offset-x: -443px;
$skate-finger-offset-y: -831px;
$skate-finger-width: 27px;
$skate-finger-height: 29px;
$skate-finger-total-width: 998px;
$skate-finger-total-height: 961px;
$skate-finger-image: '../images/sprite.png';
$skate-finger: (443px, 831px, -443px, -831px, 27px, 29px, 998px, 961px, '../images/sprite.png', 'skate-finger', );
$skate-name: 'skate';
$skate-x: 0px;
$skate-y: 0px;
$skate-offset-x: 0px;
$skate-offset-y: 0px;
$skate-width: 655px;
$skate-height: 451px;
$skate-total-width: 998px;
$skate-total-height: 961px;
$skate-image: '../images/sprite.png';
$skate: (0px, 0px, 0px, 0px, 655px, 451px, 998px, 961px, '../images/sprite.png', 'skate', );
$sportik-logo-name: 'sportik-logo';
$sportik-logo-x: 675px;
$sportik-logo-y: 0px;
$sportik-logo-offset-x: -675px;
$sportik-logo-offset-y: 0px;
$sportik-logo-width: 188px;
$sportik-logo-height: 125px;
$sportik-logo-total-width: 998px;
$sportik-logo-total-height: 961px;
$sportik-logo-image: '../images/sprite.png';
$sportik-logo: (675px, 0px, -675px, 0px, 188px, 125px, 998px, 961px, '../images/sprite.png', 'sportik-logo', );
$why-1-name: 'why-1';
$why-1-x: 594px;
$why-1-y: 721px;
$why-1-offset-x: -594px;
$why-1-offset-y: -721px;
$why-1-width: 73px;
$why-1-height: 73px;
$why-1-total-width: 998px;
$why-1-total-height: 961px;
$why-1-image: '../images/sprite.png';
$why-1: (594px, 721px, -594px, -721px, 73px, 73px, 998px, 961px, '../images/sprite.png', 'why-1', );
$why-2-name: 'why-2';
$why-2-x: 220px;
$why-2-y: 721px;
$why-2-offset-x: -220px;
$why-2-offset-y: -721px;
$why-2-width: 74px;
$why-2-height: 74px;
$why-2-total-width: 998px;
$why-2-total-height: 961px;
$why-2-image: '../images/sprite.png';
$why-2: (220px, 721px, -220px, -721px, 74px, 74px, 998px, 961px, '../images/sprite.png', 'why-2', );
$why-3-name: 'why-3';
$why-3-x: 780px;
$why-3-y: 721px;
$why-3-offset-x: -780px;
$why-3-offset-y: -721px;
$why-3-width: 73px;
$why-3-height: 73px;
$why-3-total-width: 998px;
$why-3-total-height: 961px;
$why-3-image: '../images/sprite.png';
$why-3: (780px, 721px, -780px, -721px, 73px, 73px, 998px, 961px, '../images/sprite.png', 'why-3', );
$why-4-name: 'why-4';
$why-4-x: 179px;
$why-4-y: 831px;
$why-4-offset-x: -179px;
$why-4-offset-y: -831px;
$why-4-width: 69px;
$why-4-height: 70px;
$why-4-total-width: 998px;
$why-4-total-height: 961px;
$why-4-image: '../images/sprite.png';
$why-4: (179px, 831px, -179px, -831px, 69px, 70px, 998px, 961px, '../images/sprite.png', 'why-4', );
$why-5-name: 'why-5';
$why-5-x: 687px;
$why-5-y: 721px;
$why-5-offset-x: -687px;
$why-5-offset-y: -721px;
$why-5-width: 73px;
$why-5-height: 73px;
$why-5-total-width: 998px;
$why-5-total-height: 961px;
$why-5-image: '../images/sprite.png';
$why-5: (687px, 721px, -687px, -721px, 73px, 73px, 998px, 961px, '../images/sprite.png', 'why-5', );
$why-6-name: 'why-6';
$why-6-x: 314px;
$why-6-y: 721px;
$why-6-offset-x: -314px;
$why-6-offset-y: -721px;
$why-6-width: 74px;
$why-6-height: 74px;
$why-6-total-width: 998px;
$why-6-total-height: 961px;
$why-6-image: '../images/sprite.png';
$why-6: (314px, 721px, -314px, -721px, 74px, 74px, 998px, 961px, '../images/sprite.png', 'why-6', );
$why-7-name: 'why-7';
$why-7-x: 501px;
$why-7-y: 721px;
$why-7-offset-x: -501px;
$why-7-offset-y: -721px;
$why-7-width: 73px;
$why-7-height: 73px;
$why-7-total-width: 998px;
$why-7-total-height: 961px;
$why-7-image: '../images/sprite.png';
$why-7: (501px, 721px, -501px, -721px, 73px, 73px, 998px, 961px, '../images/sprite.png', 'why-7', );
$why-8-name: 'why-8';
$why-8-x: 90px;
$why-8-y: 831px;
$why-8-offset-x: -90px;
$why-8-offset-y: -831px;
$why-8-width: 69px;
$why-8-height: 70px;
$why-8-total-width: 998px;
$why-8-total-height: 961px;
$why-8-image: '../images/sprite.png';
$why-8: (90px, 831px, -90px, -831px, 69px, 70px, 998px, 961px, '../images/sprite.png', 'why-8', );
$why-pers-1-name: 'why-pers-1';
$why-pers-1-x: 0px;
$why-pers-1-y: 831px;
$why-pers-1-offset-x: 0px;
$why-pers-1-offset-y: -831px;
$why-pers-1-width: 70px;
$why-pers-1-height: 70px;
$why-pers-1-total-width: 998px;
$why-pers-1-total-height: 961px;
$why-pers-1-image: '../images/sprite.png';
$why-pers-1: (0px, 831px, 0px, -831px, 70px, 70px, 998px, 961px, '../images/sprite.png', 'why-pers-1', );
$why-pers-2-name: 'why-pers-2';
$why-pers-2-x: 883px;
$why-pers-2-y: 558px;
$why-pers-2-offset-x: -883px;
$why-pers-2-offset-y: -558px;
$why-pers-2-width: 71px;
$why-pers-2-height: 70px;
$why-pers-2-total-width: 998px;
$why-pers-2-total-height: 961px;
$why-pers-2-image: '../images/sprite.png';
$why-pers-2: (883px, 558px, -883px, -558px, 71px, 70px, 998px, 961px, '../images/sprite.png', 'why-pers-2', );
$why-pers-3-name: 'why-pers-3';
$why-pers-3-x: 883px;
$why-pers-3-y: 738px;
$why-pers-3-offset-x: -883px;
$why-pers-3-offset-y: -738px;
$why-pers-3-width: 70px;
$why-pers-3-height: 70px;
$why-pers-3-total-width: 998px;
$why-pers-3-total-height: 961px;
$why-pers-3-image: '../images/sprite.png';
$why-pers-3: (883px, 738px, -883px, -738px, 70px, 70px, 998px, 961px, '../images/sprite.png', 'why-pers-3', );
$why-pers-4-name: 'why-pers-4';
$why-pers-4-x: 883px;
$why-pers-4-y: 648px;
$why-pers-4-offset-x: -883px;
$why-pers-4-offset-y: -648px;
$why-pers-4-width: 70px;
$why-pers-4-height: 70px;
$why-pers-4-total-width: 998px;
$why-pers-4-total-height: 961px;
$why-pers-4-image: '../images/sprite.png';
$why-pers-4: (883px, 648px, -883px, -648px, 70px, 70px, 998px, 961px, '../images/sprite.png', 'why-pers-4', );
$spritesheet-width: 998px;
$spritesheet-height: 961px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($about-icon, $boy1, $boy2, $button-green, $calc-bottle, $calc-checkbox, $calc-glass, $calc-time, $calc-total, $close-important, $close-pers, $close, $girl1, $girl2, $hand-liked, $hand, $important-1, $important-2, $important-3, $important-4, $important-5, $important-bubble-left, $important-bubble-right, $logo-hand, $logotype, $menu-pers-none, $play-1, $puzzle0, $puzzle1, $puzzle2, $puzzle3, $puzzle4, $puzzle5, $puzzle6, $quiz-result-bottle, $radio-selected, $radio, $select, $skate-bottle, $skate-finger, $skate, $sportik-logo, $why-1, $why-2, $why-3, $why-4, $why-5, $why-6, $why-7, $why-8, $why-pers-1, $why-pers-2, $why-pers-3, $why-pers-4, );
$spritesheet: (998px, 961px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
