/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$about-icon-name: 'about-icon';
$about-icon-x: 655px;
$about-icon-y: 109px;
$about-icon-offset-x: -655px;
$about-icon-offset-y: -109px;
$about-icon-width: 89px;
$about-icon-height: 90px;
$about-icon-total-width: 762px;
$about-icon-total-height: 633px;
$about-icon-image: '../images/sprite.png';
$about-icon: (655px, 109px, -655px, -109px, 89px, 90px, 762px, 633px, '../images/sprite.png', 'about-icon', );
$button-green-name: 'button-green';
$button-green-x: 0px;
$button-green-y: 451px;
$button-green-offset-x: 0px;
$button-green-offset-y: -451px;
$button-green-width: 362px;
$button-green-height: 62px;
$button-green-total-width: 762px;
$button-green-total-height: 633px;
$button-green-image: '../images/sprite.png';
$button-green: (0px, 451px, 0px, -451px, 362px, 62px, 762px, 633px, '../images/sprite.png', 'button-green', );
$close-important-name: 'close-important';
$close-important-x: 741px;
$close-important-y: 413px;
$close-important-offset-x: -741px;
$close-important-offset-y: -413px;
$close-important-width: 20px;
$close-important-height: 21px;
$close-important-total-width: 762px;
$close-important-total-height: 633px;
$close-important-image: '../images/sprite.png';
$close-important: (741px, 413px, -741px, -413px, 20px, 21px, 762px, 633px, '../images/sprite.png', 'close-important', );
$close-name: 'close';
$close-x: 721px;
$close-y: 413px;
$close-offset-x: -721px;
$close-offset-y: -413px;
$close-width: 20px;
$close-height: 21px;
$close-total-width: 762px;
$close-total-height: 633px;
$close-image: '../images/sprite.png';
$close: (721px, 413px, -721px, -413px, 20px, 21px, 762px, 633px, '../images/sprite.png', 'close', );
$important-1-name: 'important-1';
$important-1-x: 240px;
$important-1-y: 513px;
$important-1-offset-x: -240px;
$important-1-offset-y: -513px;
$important-1-width: 120px;
$important-1-height: 120px;
$important-1-total-width: 762px;
$important-1-total-height: 633px;
$important-1-image: '../images/sprite.png';
$important-1: (240px, 513px, -240px, -513px, 120px, 120px, 762px, 633px, '../images/sprite.png', 'important-1', );
$important-2-name: 'important-2';
$important-2-x: 360px;
$important-2-y: 513px;
$important-2-offset-x: -360px;
$important-2-offset-y: -513px;
$important-2-width: 120px;
$important-2-height: 120px;
$important-2-total-width: 762px;
$important-2-total-height: 633px;
$important-2-image: '../images/sprite.png';
$important-2: (360px, 513px, -360px, -513px, 120px, 120px, 762px, 633px, '../images/sprite.png', 'important-2', );
$important-3-name: 'important-3';
$important-3-x: 480px;
$important-3-y: 513px;
$important-3-offset-x: -480px;
$important-3-offset-y: -513px;
$important-3-width: 120px;
$important-3-height: 120px;
$important-3-total-width: 762px;
$important-3-total-height: 633px;
$important-3-image: '../images/sprite.png';
$important-3: (480px, 513px, -480px, -513px, 120px, 120px, 762px, 633px, '../images/sprite.png', 'important-3', );
$important-4-name: 'important-4';
$important-4-x: 120px;
$important-4-y: 513px;
$important-4-offset-x: -120px;
$important-4-offset-y: -513px;
$important-4-width: 120px;
$important-4-height: 120px;
$important-4-total-width: 762px;
$important-4-total-height: 633px;
$important-4-image: '../images/sprite.png';
$important-4: (120px, 513px, -120px, -513px, 120px, 120px, 762px, 633px, '../images/sprite.png', 'important-4', );
$important-5-name: 'important-5';
$important-5-x: 0px;
$important-5-y: 513px;
$important-5-offset-x: 0px;
$important-5-offset-y: -513px;
$important-5-width: 120px;
$important-5-height: 120px;
$important-5-total-width: 762px;
$important-5-total-height: 633px;
$important-5-image: '../images/sprite.png';
$important-5: (0px, 513px, 0px, -513px, 120px, 120px, 762px, 633px, '../images/sprite.png', 'important-5', );
$important-bubble-left-name: 'important-bubble-left';
$important-bubble-left-x: 655px;
$important-bubble-left-y: 277px;
$important-bubble-left-offset-x: -655px;
$important-bubble-left-offset-y: -277px;
$important-bubble-left-width: 88px;
$important-bubble-left-height: 68px;
$important-bubble-left-total-width: 762px;
$important-bubble-left-total-height: 633px;
$important-bubble-left-image: '../images/sprite.png';
$important-bubble-left: (655px, 277px, -655px, -277px, 88px, 68px, 762px, 633px, '../images/sprite.png', 'important-bubble-left', );
$important-bubble-right-name: 'important-bubble-right';
$important-bubble-right-x: 655px;
$important-bubble-right-y: 345px;
$important-bubble-right-offset-x: -655px;
$important-bubble-right-offset-y: -345px;
$important-bubble-right-width: 88px;
$important-bubble-right-height: 68px;
$important-bubble-right-total-width: 762px;
$important-bubble-right-total-height: 633px;
$important-bubble-right-image: '../images/sprite.png';
$important-bubble-right: (655px, 345px, -655px, -345px, 88px, 68px, 762px, 633px, '../images/sprite.png', 'important-bubble-right', );
$logotype-name: 'logotype';
$logotype-x: 362px;
$logotype-y: 451px;
$logotype-offset-x: -362px;
$logotype-offset-y: -451px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 762px;
$logotype-total-height: 633px;
$logotype-image: '../images/sprite.png';
$logotype: (362px, 451px, -362px, -451px, 148px, 52px, 762px, 633px, '../images/sprite.png', 'logotype', );
$menu-pers-boy-1-name: 'menu-pers-boy-1';
$menu-pers-boy-1-x: 655px;
$menu-pers-boy-1-y: 413px;
$menu-pers-boy-1-offset-x: -655px;
$menu-pers-boy-1-offset-y: -413px;
$menu-pers-boy-1-width: 39px;
$menu-pers-boy-1-height: 39px;
$menu-pers-boy-1-total-width: 762px;
$menu-pers-boy-1-total-height: 633px;
$menu-pers-boy-1-image: '../images/sprite.png';
$menu-pers-boy-1: (655px, 413px, -655px, -413px, 39px, 39px, 762px, 633px, '../images/sprite.png', 'menu-pers-boy-1', );
$play-1-name: 'play-1';
$play-1-x: 655px;
$play-1-y: 0px;
$play-1-offset-x: -655px;
$play-1-offset-y: 0px;
$play-1-width: 107px;
$play-1-height: 109px;
$play-1-total-width: 762px;
$play-1-total-height: 633px;
$play-1-image: '../images/sprite.png';
$play-1: (655px, 0px, -655px, 0px, 107px, 109px, 762px, 633px, '../images/sprite.png', 'play-1', );
$skate-bottle-name: 'skate-bottle';
$skate-bottle-x: 655px;
$skate-bottle-y: 199px;
$skate-bottle-offset-x: -655px;
$skate-bottle-offset-y: -199px;
$skate-bottle-width: 91px;
$skate-bottle-height: 78px;
$skate-bottle-total-width: 762px;
$skate-bottle-total-height: 633px;
$skate-bottle-image: '../images/sprite.png';
$skate-bottle: (655px, 199px, -655px, -199px, 91px, 78px, 762px, 633px, '../images/sprite.png', 'skate-bottle', );
$skate-finger-name: 'skate-finger';
$skate-finger-x: 694px;
$skate-finger-y: 413px;
$skate-finger-offset-x: -694px;
$skate-finger-offset-y: -413px;
$skate-finger-width: 27px;
$skate-finger-height: 29px;
$skate-finger-total-width: 762px;
$skate-finger-total-height: 633px;
$skate-finger-image: '../images/sprite.png';
$skate-finger: (694px, 413px, -694px, -413px, 27px, 29px, 762px, 633px, '../images/sprite.png', 'skate-finger', );
$skate-name: 'skate';
$skate-x: 0px;
$skate-y: 0px;
$skate-offset-x: 0px;
$skate-offset-y: 0px;
$skate-width: 655px;
$skate-height: 451px;
$skate-total-width: 762px;
$skate-total-height: 633px;
$skate-image: '../images/sprite.png';
$skate: (0px, 0px, 0px, 0px, 655px, 451px, 762px, 633px, '../images/sprite.png', 'skate', );
$spritesheet-width: 762px;
$spritesheet-height: 633px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($about-icon, $button-green, $close-important, $close, $important-1, $important-2, $important-3, $important-4, $important-5, $important-bubble-left, $important-bubble-right, $logotype, $menu-pers-boy-1, $play-1, $skate-bottle, $skate-finger, $skate, );
$spritesheet: (762px, 633px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
