@charset "UTF-8";

@font-face {
    font-family: 'Gerbera';
    src: url('../fonts/Gerbera-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gerbera';
    src: url('../fonts/Gerbera-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gerbera';
    src: url('../fonts/Gerbera-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gerbera';
    src: url('../fonts/Gerbera-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gerbera';
    src: url('../fonts/Gerbera.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans-Web-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Pribambas';
    src: url('../fonts/Pribambas-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$sans: 'PT Sans';
$pribambas: 'Pribambas';
$gerbera: Gerbera;
$mainFontFamily: $gerbera, Helvetica, sans-serif;

//
//colors
//

$blue: #0069b0;
$pink: #f894bd;
$green: #55bc4f;
$yellow: #f9de38;
$red: #e22831;

$text: $blue;

//
//medias
//

//@media #{$media-xs-max} {
// 	background: red;
//}

$media-xs-max: "only screen and (max-width : 320px)";
$media-xs-min: "only screen and (min-width : 320px)";

$media-s-max: "only screen and (max-width : 480px)";
$media-s-min: "only screen and (min-width : 480px)";

$media-m-max: "only screen and (max-width : 768px)";
$media-m-min: "only screen and (min-width : 768px)";

$media-l-max: "only screen and (max-width : 992px)";
$media-l-min: "only screen and (min-width : 992px)";

$media-xl-max: "only screen and (max-width : 1024px)";
$media-xl-min: "only screen and (min-width : 1024px)";

$media-xxl-max: "only screen and (max-width : 1366px)";
$media-xxl-min: "only screen and (min-width : 1366px)";
