/* ==========================================================================
 * important
 * ========================================================================== */

.important{

	padding: 70px 0 100px;

	&__title{
		margin: 0 0 10px;
	}
	
	&__subtitle{
		text-align: center;
		font-size: 36px;
		margin: 0 0 50px;
	}

	&__list{

	}
}


.important-list{
	height: 630px;
	position: relative;

	&__dot{
		
		position: absolute;
		border-bottom: 3px dotted;
		
		&--1{
			top: 139px;
			right: 50%;
			width: 227px;
		}
		
		&--2{
			top: 175px;
			left: 50%;
			width: 215px;
		}
		
		&--3{
			top: 295px;
			right: 50%;
			width: 160px;
		}
		
		&--4{
			top: 375px;
			left: 50%;
			width: 238px;
		}
		
		&--5{
			top: 490px;
			right: 50%;
			width: 189px;
		}
	}

	&__list{
		
	}

	&__item{
		position: absolute;

		&--1{
			top: 86px;
			right: 50%;
			margin-right: 200px;
		}

		&--2{
			top: 120px;
			left: 50%;
			margin-left: 200px;
		}

		&--3{
			top: 240px;
			right: 50%;
			margin-right: 140px;
		}

		&--4{
			top: 320px;
			left: 50%;
			margin-left: 220px;
		}

		&--5{
			top: 440px;
			right: 50%;
			margin-right: 160px;
		}
	}

	&__bottle{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}

.important-list-item{

	&--1{
		.important-list-item{
			&__title{
				&:before{
					@include sprite($important-1);
				}
			}
		}
	}

	&--2{
		.important-list-item{
			&__title{
				&:before{
					@include sprite($important-2);
				}
			}

		}
	}

	&--3{
		.important-list-item{
			&__title{
				&:before{
					@include sprite($important-3);
				}
			}

			&__bubble{
				bottom: 100%;
				right: 0px;
				margin: 0 -100px 50px 0;
			}
		}
	}

	&--4{
		.important-list-item{
			&__title{
				&:before{
					@include sprite($important-4);
				}
			}
		}
	}

	&--5{
		.important-list-item{
			&__title{
				&:before{
					@include sprite($important-5);
				}
			}
		}
	}

	&__title{
		&:before{
			content: '';
			display: block;
			margin: auto auto -15px;
		}

		font-family: $pribambas;
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	&__bubble{
		position: absolute;	

		opacity: 0;
		visibility: hidden;

		transition: visibility .2s, opacity .2s;

		&--visible{
			opacity: 1;
			visibility: visible;
		}

		&--right{
			bottom: 100%;
			right: 0px;
			margin: 0 -100px 50px 0;
		}

		&--left{
			bottom: 100%;
			left: 0px;
			margin: 0 0 50px -100px;
		}
	}
}

.important-list-bottle{

	width: image-width('../assets/images/important/empty.png');
	
	&__placeholder{
		position: relative;	
	}
	
	&__empty{
		display: block;
	}

	&__full{
		background: url(../images/important/full.png) 50% 100% no-repeat;
		width: image-width('../assets/images/important/full.png');
		//height: image-height('../assets/images/important/full.png');
		height: 0;
		position: absolute;
		bottom: 0;
		left: 0;	

		transition: height .9s;
	}
}

.important-list-bubble{
	text-align: left;
	position: relative;
	background: #fff;
	padding: 40px 50px; 
	border-radius: 30px;
	width: 560px;

	@media (max-width: 1300px){
		width: 450px;
	}
	color: #000;

	background-repeat: no-repeat;
	background-position: 95% 90%;
	background-size: 30% auto;


	&:after{
		content: '';
		position: absolute;
		top: 100%;
		margin-top: -1px;
		right: 50px;
		@include sprite($important-bubble-left);
	}

	&--1{
		background-image: url(../images/important/images/1.png);
	}

	&--2{
		background-image: url(../images/important/images/2.png);
		&:after{
			right: auto;
			left: 50px;
			@include sprite($important-bubble-right);
		}
	}

	&--3{
		background-image: url(../images/important/images/3.png);
	}

	&--4{
		background-image: url(../images/important/images/4.png);
		&:after{
			right: auto;
			left: 50px;
			@include sprite($important-bubble-right);
		}
	}

	&--5{
		background-image: url(../images/important/images/2.png);
	}

	&__title{
		font-size: 22px;
		font-weight: 700;
		margin: 0 0 15px;
	}

	&__text{
		margin: 0 0 15px;
		width: 70%;
		font-size: 16px;
	}

	&__close{
		@extend .button;
		background: none;
		text-indent: -9999px;
		position: absolute;
		top: 20px;
		right: 20px;
		@include sprite($close-important);
	}
}
