/* ==========================================================================
 * how-many-kid
 * ========================================================================== */

.how-many-kid{
	margin-top: -80px;
	padding: 170px 0 0;
	position: relative;

	background: url(../images/bg/skate.png) 50% 0 repeat-x;
	min-height: 750px;

	&__content{
		width: 700px;
		margin: 0 0 0 20px;
		position: relative;
	}

	&__title{
		text-align: left;
	}

	&__text{
		width: 520px;
	}

	&__skate{
		position: absolute;
		top: 116px;
		left: 50%;
		margin: 0 0 0 -30px; 
		visibility: hidden;
	}
}


/* ==========================================================================
 * skate
 * ========================================================================== */

.skate{
	&__boy{
		@include sprite($skate);
		position: relative;
	}

	&__bottle{
		position: absolute;
		top: 52px;
		left: 220px;
		@include sprite($skate-bottle);
	}

	&__finger{
		position: absolute;
		top: 84px;
		left: 270px;
		@include sprite($skate-finger);
	}
}


/* ==========================================================================
 * interesting
 * ========================================================================== */

.interesting{
	margin: -100px 0 0;
	padding: 180px 0 50px;
	position: relative;
	background: #68d4fe;

	&:before{
		content: '';
		background: url(../images/bg/road.png) 50% 0 no-repeat;
		height: image-height('../assets/images/bg/road.png');
		background-size: 100% 100%;

		position: absolute;
		top: -150px;
		left: 0;
		right: 0;
	}

	&__wrap{
		position: relative;
	}

	&__title{
		font-size: 57px;
	}
}


/* ==========================================================================
 * water-helps
 * ========================================================================== */

.water-helps{
	background: #55c5f1 url(../images/bg/water-helps.png) 50% 0 repeat-x;
	color: #fff;
	padding: 330px 0 150px;
	text-align: center;


	&__title{
		font-size: 57px;
	}

	&__text{
		width: 720px;
		margin: 0 auto 30px;
	}

	&__button{
		width: 220px;
	}
}


/* ==========================================================================
 * yours
 * ========================================================================== */

.yours{
	padding: 0 0 50px;

	&:before{
		content: '';
		display: block;
		background: url(../images/bg/water-helps-waves.png) 50% 0 repeat-x;
		height: image-height('../assets/images/bg/water-helps-waves.png');
		margin: 0 0 120px;
	}

	&__text{
		text-align: center;
		margin: 0 0 65px;
	}

	&__select{
		margin: 0 0 50px;
		text-align: center;	

		&--last{
			margin: 0 0 -50px 250px;;
			text-align: left;
		}
	}
}

.yours-select{

	&__title{
		font-size: 20px;
		opacity: .9;
		margin: 0 0 20px;	
	}

	&__list{
		
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		margin:  0 10px;
	}
}

.yours-select-radio{

	&__input{
		position: absolute;
		left: -9999px;

		&:checked + .yours-select-radio__image-placeholder{
			box-shadow: 0 2px 15px rgba(0,0,0,.8);
			&:before{
				display: block;
			}
		}

		&:checked + .yours-select-radio__circle{
			box-shadow: 0 0 10px #fff;
		}
	}

	&__image-placeholder{
		display: block;
		position: relative;
		

		&:before{
			content: '';
			border: 3px solid #fff;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: none;
		}
	}

	&__image{
		display: block;
	}

	&__circle{
		display: block;
		width: 58px;
		height: 58px;
		border: 3px solid #fff;
		border-radius: 50%;

		&--blue{
			background: $blue;
		}

		&--yellow{
			background: $yellow;
		}

		&--green{
			background: $green;
		}

		&--red{
			background: $red;
		}
	}
}

.your-bottle{

	padding: 450px 0 0;
	position: relative;

	&__scroll{
		position: absolute;
		top: 0;
		left: 230px;
		font-size: 20px;
		opacity: .9;
	}

	&__bottle{		

		position: absolute;
		top: 0;
		left: 50%;
		margin: 0 0 0 -81px; 

		background: url(../images/bottles/blue.png) 50% 0 no-repeat;
		width: image-width('../assets/images/bottles/blue.png');
		height: image-height('../assets/images/bottles/blue.png');
	
		&[data-color="boy-blue"]{
			background-image: url(../images/bottles/b-blue.png);
		}
		&[data-color="boy-red"]{
			background-image: url(../images/bottles/b-red.png);
		}
		&[data-color="boy-green"]{
			background-image: url(../images/bottles/b-green.png);
		}
		&[data-color="boy-yellow"]{
			background-image: url(../images/bottles/b-yellow.png);
		}	
		&[data-color="girl-blue"]{
			background-image: url(../images/bottles/g-blue.png);
		}
		&[data-color="girl-red"]{
			background-image: url(../images/bottles/g-red.png);
		}
		&[data-color="girl-green"]{
			background-image: url(../images/bottles/g-green.png);
		}
		&[data-color="girl-yellow"]{
			background-image: url(../images/bottles/g-yellow.png);
		}

		&--fixed{
			position: fixed;
			top: 50%;
			left: 50%;
			margin: -225px 0 0 -81px;
			//margin: -70px 0 0 -81px;
			z-index: 200;
		}
	}

	&__skate{	
		position: fixed;
		top: 50%;
		left: 50%;
		margin: -225px 0 0 -326px;
		//margin: -70px 0 0 -326px;
	}

	&__hand{	
		position: fixed;
		top: 40%;
		left: 50%;
		opacity: 0;
		visibility: hidden;
	}

	&__bag{
		//margin: 0 130px 0 0;
		position: fixed;
		bottom: 50%;
		left: 0;
		right: 125px;
		opacity: 0;
		visibility: hidden;
		margin: 0 0 -190px;
	}

	&__bag-mask{
		background: url(../images/bag/mask.png) 50% 0 no-repeat;
		width: image-width('../assets/images/bag/mask.png');
		height: image-height('../assets/images/bag/mask.png');		
		position: absolute;
		bottom: 50%;
		left: 50%;	
		margin: 0 0 -110px -64px;	
		z-index: 400;
		opacity: 0;
		visibility: hidden;

		position: fixed;
	}

	&__back-palceholder{
		text-align: center;
	}

	&__back{
		font-size: 20px;
		border-bottom-style: dotted; 
	}

}

.your-bottle-bag{
	height: image-height('../assets/images/bag/bag.png');
	padding: 200px 0 0;
	//position: relative;

	&__content{
		position: absolute;
		top: 220px;
		left: 50%;
		margin: 0 0 0 170px;
	}

	&__title{
		font-size: 24px;
		font-weight: 700;
		margin: 0 0 15px;
	}

	&__text{
		
	}

	&__bag{
		background: url(../images/bag/bag.png) 50% 0 no-repeat;
		width: image-width('../assets/images/bag/bag.png');
		height: image-height('../assets/images/bag/bag.png');
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}


