@@if (role === "parents"){
<section class="container__section section section--bg-blue-dark videos" id="videos">
}
@@if (role === "kids"){
<section class="container__section section section--bg-blue-darken videos videos--kids" id="videos">
}
	
	<div class="section__wrap videos__wrap">

		<h2 class="section__title videos__title">
			Интересное видео
		</h2>

		<ul class="videos__list">
			
			<li class="videos__item videos-item">
				
				<a href="https://www.youtube.com/watch?v=KAIeLvvJQeE" class="videos-item__href js-modal-video-open" 
				
				@@if (role === "kids"){
				data-adriver="button_1"
				}
				
				@@if (role === "parents"){
				data-adriver="button_33"
				}

				>
					
					<span class="videos-item__image-placeholder">
						
						<img src="assets/images/videos/1.png" alt="" class="videos-item__image">

					</span>

					<span class="videos-item__title">
						Что будет, если вскипятить&nbsp;газировку? 
					</span>

					<span class="videos-item__text text">
						Дети экспериментируют.
					</span>

				</a>
				
			</li> <!-- /.videos__item -->
			
			<li class="videos__item videos-item">
				
				<a href="https://www.youtube.com/watch?v=PIgg6IPO7uw" class="videos-item__href js-modal-video-open"

				@@if (role === "kids"){
				data-adriver="button_2"
				}
				
				@@if (role === "parents"){
				data-adriver="button_34"
				}

				>
					
					<span class="videos-item__image-placeholder">
						
						<img src="assets/images/videos/2.png" alt="" class="videos-item__image">

					</span>

					<span class="videos-item__title">
						Выживут ли цветы в&nbsp;газировке?
					</span>

					<span class="videos-item__text text">
						Эксперимент для детей.
					</span>

				</a>
				
			</li> <!-- /.videos__item -->
			
			<li class="videos__item videos-item">
				
				<a href="https://www.youtube.com/watch?v=oDrexLvNuqY" class="videos-item__href js-modal-video-open"

				@@if (role === "kids"){
				data-adriver="button_3"
				}
				
				@@if (role === "parents"){
				data-adriver="button_35"
				}

				>
					
					<span class="videos-item__image-placeholder">
						
						<img src="assets/images/videos/3.png" alt="" class="videos-item__image">

					</span>

					<span class="videos-item__title">
						Дети рассуждают о воде
					</span>

					<span class="videos-item__text text">
						<!-- Вопросы о воде -->
					</span>

				</a>
				
			</li> <!-- /.videos__item -->
		
		</ul> <!-- /.videos__list -->
	
	</div> <!-- /.videos__wrap -->


	@@include("../common/modal-video.html", {})

</section> <!-- /.videos -->
